spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5443/runs-app}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    username: ${SMTP_USERNAME:sathishk.dot@gmail.com}
    password: ${SMTP_PASSWORD}
    port: 587
    properties.mail.smtp:
      auth: true
      starttls:
        enable: true
        required: true
      connectiontimeout: 15000
      timeout: 45000
  docker:
    compose:
      lifecycle-management: start-only
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    http-statuses:
      org.springframework.security.authorization.AuthorizationDeniedException: unauthorized
    codes:
      RunnerAppRoleRoleNameUnique: RUNNER_APP_ROLE_ROLE_NAME_UNIQUE
management:
  endpoints:
    web:
      exposure:
        include: health,loggers,integrationgraph,shutdown
  endpoint:
    health:
      show-details: always
    shutdown:
      access: unrestricted
springdoc:
  pathsToMatch: /api/**
app:
  baseHost: ${BASE_HOST:http://localhost:3000}
  mail:
    from: sathishk.dot@gmail.com
    displayName: Sathish Jayapal
  garmin:
    import:
      folder: ${GARMIN_IMPORT_FOLDER:/data/garmin-fit-files}
      systemUserId: ${GARMIN_SYSTEM_USER_ID:10000}
